
body {
	background-color: #0b0b0b;
	color: #fff;
	font-size: 24px;
	line-height: 28px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

a {
	color: #fff;
}
.header {
	height: 110vh;
	position: absolute;
	z-index: 2;
	background: rgba(0, 0, 0, 0.3);
	left: 0;
	right: 0;
}
.container {
	padding: 0 15px;
	max-width: 1230px;
	margin: 0 auto;
}
.header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.logo {
	padding-top: 36px;
	margin-bottom: 29px;
}
.header-btn {
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	margin-top: 31px;
	background: rgba(255, 255, 255, 0.1);
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	right: 20px;
}

.header-btn div {
	width: 36px;
	height: 2px;
	background-color: #fff;
	margin: 5px 0;
}

.header-content__title {
	font-family: 'Roboto', sans-serif;
	font-size: 96px;
	line-height: 112px;
	margin-bottom: 40px;

}
.header-content__text {
	width: 284px;
	margin-bottom: 25px;
}
.button {
	display: inline-block;
	border: 1px solid #fff;
	padding: 30px 62px;
	background: rgba(255, 255, 255, 0.15);
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.button:hover{
	background: #770302;
}
.menu {
	background-color: #000;
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	position: fixed;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	z-index: 7;
}

.menu.active {
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
}

.container-menu {
	position: relative;
}
.close-btn {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 15px;
	top: 31px;
	cursor: pointer;
	z-index: 2;
}
.close-btn::after, 
.close-btn::before {
	content: "";
	width: 70px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
}
.close-btn::after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close-btn::before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: -1px;
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #000000;
}
.menu__list a {
	font-size: 48px;
	line-height: 56px;
	font-weight: 700;
	padding: 30px 25px 14px 0;
	border-bottom: 3px solid #B70021;
	display: inline-block;
	min-width: 368px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.menu__list a:hover {
	border-color: #fff;
	color: #B70021;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	margin-left: 37px;
}
.slider__item {
	height: 110vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.slider .slick-dots button{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #0b0b0b;
	border: none;
	padding: 0;
	font-size: 0;
	cursor: pointer;
	outline: none;
}
.slider .slick-dots .slick-active button {
	background-color: #fff;
}
.slider .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.slider .slick-dots {
	margin: -55px auto 0;
	position: relative;
	z-index: 6;
	max-width: 1230px;
	padding: 0 15px;
}
.statistics {
	margin: 160px 0 100px;
}
.statistics-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	text-align: center;
}
.statistics-item__title {
	margin-bottom: 19px;
}
.statistics-item__num {
	font-size: 96px;
	line-height: 112px;
	margin-bottom: 7px;
	font-family: 'Roboto', sans-serif;
}
.statistics-item__num span {
	font-size: 24px;
	line-height: 28px;
	margin-left: -20px;
}
.statistics-item__descr {
	color: #b70021;
}
.statistics-item__num-speed span {
	display: inline-block;
	position: relative;
}
.statistics-item__num-speed span:before {
	content: "+";
	position: absolute;
	top: -60px;
}
.video {
	margin-bottom: 100px;
}
.advantages-inner__row {
	margin-bottom: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}
.advantages-descr {
	max-width: 570px;
	width: 100%;
}
.video__wrapper {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(https://i.ytimg.com/vi_webp/tw4jkyfY4HE/maxresdefault.webp) center;
	background-size: cover;
}
.video__btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url(../img/play.png) no-repeat center, #000000;
}
.video__content {
	width: 100%; 
	height: 400px;
	display: none;
}
.advantages__title {
	font-size: 36px;
	line-height: 42px;
	color: #B70021;
	position: absolute;
	top: 0;
}
.advantages__text {
	width: 303px;
}
.advantages__text li {
	list-style: none;
}
.advantages__title-bottom {
	right: 0;
	bottom: 0;
	top: auto;
}
.design__images {
	margin-bottom: 100px;
}
.design-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 100px;
}

.design-row__item {
	max-width: 570px;
	width: 100%;
	padding-right: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.design-row__item-num {
	color: #B70021;
}

.design-row__item-text {
	max-width: 430px;
	padding-top: 28px;
}
.footer {
	background: #690102;
	padding: 83px 0 20px;
}

.footer-btn {
	text-align: center;
	margin-bottom: 83px;
}
.footer-btn .button:hover{
	background-color: #000;
}
.footer-copy {
	text-align: center;
	font-weight: 700;
}
.footer-copy li {
	display: inline-block;
	padding: 0 10px;
	position: relative;
}
.footer-copy li + li:before{
	content: "|";
	position: absolute;
	left: -5px;
}